<h1>About</h1>
<p>This is a companion website for the RSeries Logic Engine.
  The Logic Engine can be used 'straight out of the box' without the need to tweak any code -
  custom colors are even possible by just adjusting the dipswitches.
</p>

<p>However, if you're a true geek you might like to dive deeper into it's features.
  More intricate color palettes and flashy animation sequences can be stored as simple text files on the MicroSD card.
  Animations can then be triggered when the Logic Engine receives a simple command via I2C.
  This site is here to assist in creating those color palettes and animations, so anyone can get creative -
  regardless of programming ability.
</p>

<p>Content generated (colorsets or logic animations) is intended to be openly shared -
  so anyone can just grab content to use on their own droid or create a fork based on another users design.</p>
