<div class="well palette">
  <div id="palette-builder" data-colors='<%= palette.colors.to_json.html_safe %>'>
    Loading colors..
  </div>

  <button class="btn btn-primary" id="addColorBtn">Add New Color</button>
</div>

<button class="btn btn-success" id="savePaletteBtn">Save Color Palette</button>


<script>
    var colors = <%= palette.colors.to_json.html_safe %>;
</script>

<script id="palette-builder-template" type="text/template">
  <%% _(colors).each(function(color) { %>
      <%%= _.partial('color-builder', color) %>
  <%% }) %>
</script>

<script id="color-builder-partial" type="text/template">
  <div class="color-builder row"
       data-hue="<%%= hue %>"
       data-sat="<%%= sat %>"
       data-val="<%%= val %>"
       data-hex="<%%= hex %>"
       data-r="<%%= r %>"
       data-g="<%%= g %>"
       data-b="<%%= b %>">
    <div class="col-md-2">
      <a href="javascript:;" class="color swatch"
         style="background-color: <%%= hex %>;"></a>
    </div>

    <div class="col-md-6 sliders">
      <div class="row">
        <b>Hue</b>
        <input type="text" data-property="hue" class="slider"  value="<%%= hue %>"
               data-slider-min="0" data-slider-max="360"
               data-slider-step="1"
               data-slider-value="<%%= hue %>"
               data-slider-orientation="horizontal"
               data-slider-selection="before"
               data-slider-tooltip="show">

      </div>
      <div class="row">
        <b>Sat</b>
        <input type="text" data-property="sat" class="slider col-md-6" value="<%%= sat %>"
               data-slider-min="0" data-slider-max="100"
               data-slider-step="1"
               data-slider-value="<%%= sat %>"
               data-slider-orientation="horizontal"
               data-slider-selection="after"
               data-slider-tooltip="show">
      </div>
      <div class="row">
        <b>Val</b>
        <input type="text" data-property="val" class="slider col-md-6" value="<%%= val %>"
               data-slider-min="0" data-slider-max="100"
               data-slider-step="1"
               data-slider-value="<%%= val %>"
               data-slider-orientation="horizontal"
               data-slider-selection="after"
               data-slider-tooltip="show">
      </div>
    </div>
    <div class="col-md-3 info">
      <p>
        <strong>HSV:</strong>
        <span class="value" data-property="hue"><%%= hue %></span>,
        <span class="value" data-property="sat"><%%= sat %></span>,
        <span class="value" data-property="val"><%%= val %></span>
        <br />
        <strong>Hex:</strong>
        <span class="value" data-property="hex"><%%= hex %></span>
        <br />
        <strong>RGB:</strong>
        <span class="value" data-property="r"><%%= r %></span>,
        <span class="value" data-property="g"><%%= g %></span>,
        <span class="value" data-property="b"><%%= b %></span>
      </p>
    </div>
  </div>
</script>

