<h1>Palette</h1>
<h5>Created by @author.name at <%= @palette.created_at %></h5>

<%= render partial: "palette", object: @palette %>
<%= link_to( fork_palette_path, class: "btn btn-primary", role: "button") do %>
    <i class="fa fa-code-fork"></i> Fork Color Palette
<% end %>
